
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Editar</h4>
            </div>
            <!--suppress HtmlUnknownTarget -->
            <form role="form" method="post" action="{% url 'principal:editar' idTrabajador=user.id%}" enctype="multipart/form-data" id="editar-form">
                {% csrf_token %}
                <label id="idhidden" hidden></label>
                <div class="modal-body">
                    {% for field in form_trabajador %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer btn-toolbar">
                    <input type="submit" id="id_grabar" class="btn btn-default btn-success pull-right" value="Guardar">
                    </input>
                    <button type="submit" id="id_cancelar" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
