<!DOCTYPE html>
<html lang="en">
<head>
    <title>Busco Ayuda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        .float-message {
            position: fixed;
            top: 1%;
            width: 100%;
            z-index: 9999;
        }
        /*noinspection CssUnusedSymbol*/
        .form-group label.error {
            color: #FB3A3A;
            display: inline-block;
            text-align: right;
            width: 100%;
        }


    </style>
</head>
<body>
<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
    {% if user.is_authenticated %}

            <li><a href="#" id="id_editar"><span class="glyphicon glyphicon-user"></span> Editar</a></li>
    <li>
            <a href="logout" id="id_login"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
        </li>
    {% else %}
        <li><a href="#" id="id_register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
        <li><a href="#" id="id_login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
<div class="jumbotron" style="padding-left: 20px; height: 50%">
    <h1>Busco Ayuda</h1>
    <p>Encuentra aquí la ayuda que necesitas.</p>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} float-message">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>ERROR: </strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<strong>SUCCESS: </strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<strong>INFO: </strong> {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% if not user.is_authenticated %}
    <form class="navbar-form navbar-right" role="search">
        <div class="input-group">
            <input  type="text" class="form-control" placeholder="Buscar" name="srch-term" id="buscar">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
    <div class="col-lg-12">
    </div>
    <div id="trabajadores">
    {% for trabajador in trabajadores %}
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center; background-color: black;">
                    <span style="color: white; font-size: large;">{{ trabajador.tiposDeServicio.nombre }}</span>
                    <!--suppress HtmlUnknownTarget -->
                    <img src="https://miso4202.s3.amazonaws.com/{{ trabajador.tiposDeServicio.imagen }}" />
                </div>
                <div class="panel-body" style="text-align: center">
                    <a class="trabajador" href="#" data-form="{{ trabajador.id }}" style="text-decoration: none;">
                        <!--suppress HtmlUnknownTarget -->
                        <img class="thumbnail img-responsive center-block"
                             src="https://miso4202.s3.amazonaws.com/{{ trabajador.imagen }}" width="300"
                             height="300">
                        <span>{{ trabajador.nombre }} {{ trabajador.apellidos }}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="container" style="padding: 5px">
        {% if user.is_authenticated and user.is_superuser %}
            <h3>Administrar</h3>
            <p>Salir del sitio e ir al módulo de administración principal del sistema en Django.</p>
            <a class="glyphicon glyphicon-exclamation-sign" href="admin" target="_blank"> Abrir</a>
        {% endif %}
    </div>
{% endif %}
{% include "polls/registro.html" %}
{% include "polls/login.html" %}
<div class="modal fade" id="editar_modal" role="dialog">hola</div>
<!--suppress JSUnresolvedFunction -->
<script>
    $(document).ready(function () {
        $('#id_login').click(function () {
            $('#login_modal').modal();
        });
        $('#id_register').click(function () {
            $('#register_modal').modal();
        });

        $('.trabajador').click(function () {
            var trabajador = $(this).data("form");
            localStorage.setItem('trabajador', trabajador);
            window.location = "/detail";
        });

        $('#id_editar').click(function () {
            {% if user.is_authenticated %}
            $('#editar_modal').load("{% url 'principal:editar' idTrabajador=user.id %}");
            $('#editar_modal').modal();
            {% endif %}
        });

        $('.float-message').fadeTo(2000, 500).slideUp(500, function(){
            $('#success-alert').alert('close');
        });

        $("#buscar").keyup(function(){
            $('#trabajadores').clear;
            mostrarTrabajadores();
});
    });
    function detalle(id){
            localStorage.setItem('trabajador', id);
            window.location = "/detail";
}

    function mostrarTrabajadores(){

        $.getJSON("/mostrarTrabajadores/" + $("#buscar").val()).done(function (data) {
            $('#trabajadores').empty();
                $.each(data, function (key, val) {
                    $.get( "/tipoServicio/"+val.fields.tiposDeServicio, function( dataTipo ) {
                        dataTipo=jQuery.parseJSON(dataTipo);
                      var tipo=dataTipo[0].fields.nombre;
                      var imagenTipo= dataTipo[0].fields.imagen;

                    var div='<div class="col-sm-4 col-md-3">'+
                            '<div class="panel panel-default">'+
                                '<div class="panel-heading" style="text-align: center; background-color: black;">'+
                                    '<span style="color: white; font-size: large;">'+tipo+'</span>'+
                                    '<img src="https://miso4202.s3.amazonaws.com/'+imagenTipo+'" />'+
                                '</div>'+
                                '<div class="panel-body" style="text-align: center">'+
                                    '<a onclick="detalle('+val.pk+')" class="trabajador" href="#" data-form="'+val.fields.id+'" style="text-decoration: none;">'+
                                        '<img class="thumbnail img-responsive center-block"'+
                                             'src="https://miso4202.s3.amazonaws.com/'+val.fields.imagen+'" width="300"'+
                                             'height="300">'+
                                        '<span>'+val.fields.nombre+' '+val.fields.apellidos+'</span>'+
                                    '</a>'+
                                '</div>'+
                            '</div>'+
                        '</div>';
                        if(tipo.indexOf($("#buscar").val())>=0) {
                        $('#trabajadores').append(div);
                    }
                    });
                })
            });
    }
</script>
</body>
</html>