<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Login</h4>
            </div>
            <form id="login-form" role="form" action="login" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="usrname">Usuario</label>
                        <input required type="text" id="user" name="user" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input required type="password" name="password" id="password" class="form-control">
                    </div>
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="id_iniciar_login" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Login
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

